# fly.toml app configuration file
app = 'mcserver-web-thrumming-lake-5748'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[env]
  REACT_APP_API_URL = 'https://mcserver-backend.fly.dev'

[[services]]
  internal_port = 80
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    port = 80

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
